.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h4 {
  color: #ff1f1f;
  margin-bottom: 20px;
  font-size: 1.0em; // adjust this value to your preference
  font-weight: bolder;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  @media screen and (max-width: 600px){
      max-width: 90%;
  }
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 24px;
  color: #ff1f1f;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-error {
  color: #f44336;
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url('../login/images/mywife.jpg'); /* This will make the div take the full height of the viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
